
/*
 * Sidebar styling
 */
.sidebar {
  margin:20px 0;
  font-family: "Open Sans Condensed",Arial,sans-serif;
}
ul.sidebar{
  width:200px;
  font-weight:700;
  font-size:14px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
          box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
ul.sidebar > .active > a,
ul.sidebar > .active > a:hover{
  /*color: #ffffff;*/
  color:#f57e20;
  /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);*/
  background-color:#ddd;
}

.nav-tabs > li.sidebar-lvl-2 > a {
  padding-left:30px;
}
.nav-tabs > li.sidebar-lvl-3 > a {
  padding-left:45px;
}

/*
 * Topbar styling
 */

.navbar .logo{
  float:left;
  padding-left:40px;
 font-family: "Open Sans Condensed",Arial,sans-serif;
 font-size:20px;
  line-height:40px;
  background-image:url(img/favicon_orange2.png);
  background-repeat:no-repeat;
  background-position:0px 4px;
  color:#ffffff;
  text-decoration:none;
}
.navbar-inner .btn-toolbar {
  margin-top:3px;
 margin-bottom:4px;
}
.navbar-inner .btn, .navbar-inner .button-group .btn{
  margin-top:0px;
  margin-bottom:0px;
}

/*
 * Landing page styling
 */
.landing-page.page-header h1{
  font-size:84px;
  font-weight:300;
  line-height:84px;
  letter-spacing: -3px;
  color:#666;
 text-shadow: 0 -1px 0 #444; 
}
.landing-page.page-header{
  margin-bottom:20px;
}
.landing-content a.block:hover{
  color:#222;
}
.landing-content a.block {
  text-decoration:none;
  color:#555;
}
.landing-content .block-end{
  clear:both;
  padding-bottom:20px;
}
.landing-content i{
  float:right;
  margin-top:-12px;
  font-size:24px;
  font-style:normal;
}
.landing-content .btn-link{
  text-align:left;
  padding-left:20px;
  color:#555;
  text-decoration:none;
}
.landing-content .btn-link:hover{
  color:#f57e20;
}

/*
 * Landing page start block
 */
#start-block{
  padding-bottom:14px;
}
#start-block .btn{
  padding:0 0;
  font-size:16px;
  width:220px;
  height:80px;
  /*display:block;*/
  text-decoration:none;
}
#start-block .btn-primary > div{
  height:68px;
  width:136px;
  padding: 5px;
  padding-left:74px;
  background-repeat:no-repeat;
  background-position:8px 8px;
  display:inline-block;
  vertical-align:middle;
}
#start-block .btn-primary > div > p{
  display:table-cell;
  width:136px;
  height:68px;
  vertical-align:middle;
}
#start-block .start-btn-1{ 
  background-image:url(img/big-icon-register.png); 
}
#start-block .start-btn-2{
  background-image:url(img/big-icon-api.png); 
}
#start-block .start-btn-3{
  background-image:url(img/big-icon-build.png); 
}
#start-block a{
  text-decoration:none;
}


/*
 * Sticky footer
 */
html, body {
	height: 100%;
}
.wrapper > .container{
  padding-top:60px;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -80px; /* the bottom margin is the negative value of the footer's height */
}
.push{
  height: 120px; /* .push must be the same height as .footer */
}
footer{
  height:78px;
  background-color:#eff0f1;
  border-top: 1px solid #ddd;
}
footer p{
  padding:10px;
  color:#aaa;
  
}

