
body {
    padding-bottom: 40px;
    padding-top: 60px;
}


/*
 * Sidebar styling
 */

#nav-toplevel > li > a{
  font-weight:bold;
}

.nav-list > li > ul {
    padding-left:0;
    padding-right:0;
}
.nav-list ul > li > a {
    padding-left:30px;
    font-weight:normal;
}
.nav-list ul > li > ul > li > a{
    padding-left:45px;
}

/*
 * Top navigation styling
 */
.navbar-inner .btn-toolbar {
  margin-top:3px;
  margin-bottom:4px;
}
.navbar-inner .btn, .navbar-inner .button-group .btn{
  margin-top:0px;
  margin-bottom:0px;
}

/*
 * Landing page styling
 */
.landing-content h3, .landing-content h2{
  line-height:10px;
}
#start-block .btn{
  height:80px;
  display:block;
}
div#start-button-1{
  width:200px;
  height:80px;
  margin-left:20px;
  float:left;
}
div#start-button-2{
  width:220px;
  height:80px;
  margin-left:20px;
  float:left;
}
div#start-button-3{
  width:200px;
  height:80px;
  margin-left:20px;
  float:left;
}

.landing-content .icon-circle-arrow-right {
  float:right;
  margin-bottom:10px;
}
.landing-content hr {
  clear:both
}
