
body {
    padding-bottom: 40px;
    padding-top: 60px;
}


/*
 * Sidebar styling
 */
.sidebar {
  padding:20px 0;
  width:210px;
}
#nav-toplevel > li > a{
  font-weight:bold;
}

.nav-list > li > ul {
    padding-left:0;
    padding-right:0;
}
.nav-list ul > li > a {
    padding-left:30px;
    font-weight:normal;
}
.nav-list ul > li > ul > li > a{
    padding-left:45px;
}

/*
 * Top navigation styling
 */
.navbar-inner .btn-toolbar {
  margin-top:3px;
  margin-bottom:4px;
}
.navbar-inner .btn, .navbar-inner .button-group .btn{
  margin-top:0px;
  margin-bottom:0px;
}

/*
 * Landing page styling
 */
.landing-page.page-header h1{
  font-size:84px;
  line-height:84px;
  letter-spacing: -3px;
}
.landing-page.page-header{
  margin-bottom:20px;
}

.landing-content h4{
  font-size:16px;
  color:#f57e20;
  font-weight:700;
  line-height:
}
#start-block .btn{
  height:80px;
  display:block;
  text-decoration:none;
}
#start-block a{
  text-decoration:none;
}
.landing-content a.block:hover{
  color:#222;
}
.landing-content a.block {
  text-decoration:none;
  color:#555;
}
.landing-content .block-end{
  clear:both;
  padding-bottom:20px;
}
.landing-content i{
  float:right;
  /*margin-top:-32px;*/
  margin-top:-12px;
  font-size:24px;
  font-style:normal;
}
.landing-content .btn-link{
  text-align:left;
  padding-left:20px;
  color:#555;
  text-decoration:none;
}
.landing-content .btn-link:hover{
  color:#C76206;
}
